// Define variables for your color scheme

// For example:
$primaryblue: rgb(54,74,78);
$secondaryblue: rgb(243,248,238);
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
