// Define variables for your color scheme

// For example:
$primaryblue: rgb(54,74,78);
$primarywhite: rgb(243,248,238);
$primaryyellow: rgb(255,242,120);
$primarygreen: rgb(163,194,165);
$primarybeige: rgb(216,189,138);
$primaryblack: rgb(29,29,28);
$primarygray: #777777;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
