// Specific CSS for your home-page

.separatetext {
  background: $primaryblue;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

#title_top_home {
  color: $primaryblue;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  letter-spacing: 2px;
}

#subtilte_home {
  color: $primaryblue;
  font-family: 'Source Sans Pro';
  font-size: 20px;
}

#background1 {
  background-image: linear-gradient(rgba(240,240,240,0.2), rgba(245,245,245,0.1)), image-url("homepagebackground1.jpg");

}

#background2{
  background-image: linear-gradient(rgba(250,250,250,0.2), rgba(245,245,245,0.3)), image-url("homepagebackground2.jpg");
  height: 95vh;
}

#background3{
  background-image: linear-gradient(rgba(65,99,99,0.2), rgba(65,99,99,0.2)), image-url("homepagebackground3.jpg");
}

.full {
  height: 100%;
}
.textposition {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#leftflex {
  align-items: flex-start;
}
#rightflex {
  align-items: flex-end;
}

.new-btn {
  color:$primarygray;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-color: $primaryyellow;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857;
  border-radius: 0px;
}

.new-btn-home:hover {
  background-color:$primarywhite;
  color: $primaryblue;
  text-decoration: none;
}

#textcenter {
  letter-spacing: 3px;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

