.showimage {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.boat-information {
  position: relative;
}

.contact-information {
  height: 200px;
  width: 300px;
  border: 1px solid $primaryblue;
  box-shadow: 2px 2px 4px rgba(5,5,5,0.9);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.contact-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
