.row {
  padding-top: 50px;
}

.boat-title {
  text-align: left;
  padding-bottom:30px;
}

.showimage {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.boat-information {
  position: relative;
  line-height: 30px;
  padding-bottom: 60px;
}

.contact-information {
  width: 250px;
  height: 320px;
  margin-top: 70px;
  margin-left: 100px;
  border: 3px solid $primaryblue;
  border-radius: none;
  padding: 30px;
  display: flex;
  background-color: $primarywhite;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.contact-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-text {
  color: $primaryblue;
}

.new-btn-show {
  color:$primarywhite;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-color: $primaryblue;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.42857;
  border-radius: 0px;

}
.new-btn-show:hover {
  background-color:$primaryyellow;
  color: $primaryblue;
  text-decoration: none;
}

