

<div class="wrapper">
  <div class="parallax-background" id="background3">
    <div class="container full">
      <div class="textposition" id="leftflex">
        <h1 id="title_top_home">Find your perfect boat </h1>
        <p id="subtilte_home">The adventure of a lifetime </p>
        <%= link_to "See all boats", boats_path, class: "new-btn new-btn-home" %>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="separatetext">
    <div class="container">
      <p id="textcenter"> Made with love by the Derails crew. </p>
    </div>
  </div>
</div>
