

<div class="wrapper">
  <div class="parallax-background" id="background2">
    <div class="container full">
      <div class="textposition" id="leftflex">
        <h1>Find your perfect boat</h1>
        <p>The adventure of a lifetime</p>
        <%= link_to "See all boats", boats_path, class: "homepagebutton" %>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="separatetext">
    <div class="container">
      <p>Made with love by the Derails crew.</p>
    </div>
  </div>
</div>
