

<div class="wrapper">
  <div class="parallax">
    <div class="container">

      <h1>Hello hello hello hello</h1>
      <p>Find me in app/views/pages/home.html.erb</p>

      <%= link_to "See all boats", boats_path %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>


    </div>
  </div>
</div>
