.boat_card{
  width: 350px;
  position: relative;
  height: 250px;
  background-image: url("https://picsum.photos/300?image=617");
  margin: 5px;
  background-size: cover;
  background-position: center;

.boat_card_footer{
  width: 350px;
  height: 150px;
  position: relative;
}

 h3{
  font-size: 20px;

 }
}

