
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @boats.each do |boat| %>
        <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-0 col-lg-4 hpadding-1">
          <div class="boat_card">
            <div class="boat_card_footer">
              <h3><%= link_to(boat.name, boat_path(boat)) %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
